.footer{
    text-align: center;
    margin-top: 100px;
    .copyright{
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }

    .icon-footer{

        a{
            margin: 5px;
            font-size: 18px;
            color: #fff;
            transition: all .3s;
            &:hover{
                color: #a3a3a3;
            }
        }
    }
}