$color-primary:rgb(39,51,108);
$color-primary-light:#314ea2;
$color-blue-dark:#0830A2;
$color-primary-2: #be2c2d;

$color-grey:  #5c5e6b;
$color-white: #fff;
$color-black: #181818;
$color-orange: #f58221;

