@keyframes close-menu{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;

    }
}
@keyframes show-menu{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes animate-top
{
  0%
  {
    transform: scale( .9 );
  }
  20%
  {
    transform: scale( .9 );
  }
  40%
  {
    transform: scale( 1.15 );
  }
  60%
  {
    transform: scale( .9 );
  }
  80%
  {
    transform: scale( .9 );
  }
  100%
  {
    transform: scale( .9 );
  }
}

@keyframes background-top{
    0%
  {
    transform: scale( .9 ) rotate(0deg);
  }
  20%
  {
    transform: scale( .9 ) rotate(72deg);
  }
  40%
  {
    transform: scale( 1.15 ) rotate(144deg);
  }
  60%
  {
    transform: scale( .9 ) rotate(216deg);
  }
  80%
  {
    transform: scale( 1.15 ) rotate(288deg);
  }
  100%
  {
    transform: scale( .9 ) rotate(360deg);
  }
    
}
@keyframes background-light{
    0%{
        transform: scale(1)  rotate(0);
        opacity: 1;
    }
    10%{
        transform: scale(.8) rotate(-36deg);
        opacity: .7;
        filter: blur(2px);
    }
    20%{
        transform: scale(1) rotate(-72deg);
        opacity: 1;
    }
    30%{
        transform: scale(.8) rotate(-108deg);
        opacity: .6;
        filter: blur(3px);
    }
    40%{
        transform: scale(1.1) rotate(-144deg);
        opacity: 1;
        filter: blur(0px);
    }
    50%{
        transform: scale(.8) rotate(-180deg);
        opacity: .8;
        filter: blur(2px);
    }
    60%{
        transform: scale(1) rotate(-216deg);
        opacity: 1;
        filter: blur(0px);
    }
    70%{
        transform: scale(.8) rotate(-252deg);
        opacity: .8;
        filter: blur(3px);
    }
    80%{
        transform: scale(1.1) rotate(-288deg);
        opacity: 1;
        filter: blur(0);
    }
    90%{
        transform: scale(.7) rotate(-324deg);
        opacity: .7;
        filter: blur(3px);
    }
    100%{
        transform: scale(1) rotate(-360deg);
        opacity: 1;
        filter: blur(0);

    }
}