.card-login {
    padding: 20px;
}
.form-login {
    img {
        margin: 0 auto;
    }
}
.login-page {
    background: black;
}
.text-white {
    color: #FFF;
}
.text-white:hover {
    color: green;
}
